/*CSS Reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {

font-family: 'Raleway', sans-serif;
font-family: 'Roboto Serif', sans-serif;
}

#bod {
	border: 15px solid white;
	border-radius: 50%;
	height: 300px;
	width: 300px;
}